{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

	{% if not currentUser %}
		{% redirect '/' %}
	{% endif %}

	<article>
		<h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
		<div class="row">
			<div class="col-sm-9">
				{{ entry.soundcloudId }}
			</div>
			<div class="col-sm-3">
				{% if entry.mp3Download | length %}
				    {% for asset in entry.mp3Download %}
				        <a href="{{ asset.url }}">Download MP3</a>
				    {% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="row">
			
			{% if entry.coWriters | length %}
			<div class="col-sm-6">
				<h3>Lyrics</h3>
				<p>{{ entry.lyrics }}</p>
			</div>
			{% endif %}
			
			<div class="col-sm-6">
				
				{% if craft.tags.relatedTo(entry.id) | length %}
					<h3>Tags</h3>
					<ul class="list-inline">
					    {% for tag in craft.tags.relatedTo(entry.id) %}
					        <li><a href="/tags/{{ tag.name }}" class="btn">{{ tag.name }}</a></li>
					    {% endfor %}
					</ul>
				{% endif %}
				
				<div class="row">
					
					{% if entry.coWriters | length %}
						<div class="col-sm-6">
							<h3>Co-Writers</h3>
							<p>{{ entry.coWriters }}</p>
						</div>
					{% endif %}

					<div class="col-sm-6">
						<h3>Date</h3>
						<p>{{ entry.songDate | date('F Y') }}</p>
					</div>
					
				</div>
				
				{% if entry.songNotes | length %}
				<section>
					<h3>Notes</h3>
					<p>{{ entry.songNotes }}</p>
				</section>
				{% endif %}
				
				{% if entry.releaseList | length %}
				<section id="releaseList">
					<h3>Appears on These Releases</h3>
					{% for album in entry.releaseList %}
						{{ album.albumRelease }}
					{% endfor %}
				</section>
				{% endif %}
				
			</div>
		</div>
	</article>
{% endblock %}
