{# Song entry template #}

{% extends "_layout" %}

{% block content %}

	{% if not currentUser %}
		{% redirect '/' %}
	{% endif %}

	<article class="song-entry">
		<div class="row">
			<div class="col-sm-9">
				<h1>
					{{ entry.title }}
					<small>
						{% if entry.coWriters | length %}
						<span class="writer-credit">(
							{% for writer in entry.coWriters %}
								{{ writer.writerLastName }} {% if not loop.last %}/{% endif %}
							{% endfor %}
						)</span>
						{% endif %}
					</small>
				</h1>
				<!-- <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ entry.soundcloudId }}%3Fsecret_token%3Ds-6J7so&amp;color=000000&amp;inverse=false&amp;auto_play=false"></iframe> -->
				
				<audio controls>
					{% if entry.mp3Download | length %}
					{% for asset in entry.mp3Download %}
						<source src="{{ asset.url }}" type="audio/mpeg">
					{% endfor %}
					{% endif %}
					{% if entry.songOgg | length %}
					{% for asset in entry.songOgg %}
						<source src="{{ asset.url }}" type="audio/ogg">
					{% endfor %}
					{% endif %}
						Your browser does not support the audio element.
				</audio>
			</div>
			<div class="col-sm-3">
				{% if entry.mp3Download | length %}
				    {% for asset in entry.mp3Download %}
				        <a href="{{ asset.url }}" class="btn mp3download" target="_blank">Download MP3</a>
				    {% endfor %}
				{% endif %}
			</div>
		</div>
		
		<div class="gray-box">
			<div class="row">
				<div class="col-sm-6">
					
					{% if entry.lyrics | length %}
						<section>
							<h3>Lyrics</h3>
							<p>{{ entry.lyrics }}</p>
						</section>
					{% endif %}
					
					{% if entry.coWriters | length %}
						<section>
							<h3>Writers</h3>
							<p>
							{% for writer in entry.coWriters %}
								{% if writer.writerWebsite | length %}
									<a href="{{ writer.writerWebsite }}">{{ writer.title }}</a>
								{% else %}
									{{ writer.title }}
								{% endif %}
								{% if not loop.last %}/{% endif %}
							{% endfor %}
							</p>
						</section>
					{% endif %}
				
					<section>
						<h3>Date</h3>
						<p>{{ entry.songDate | date('F Y') }}</p>
					</section>
					
					{% if entry.releaseList | length %}
					<section id="releaseList">
						<h3>Appears on These Releases</h3>
						{% for album in entry.releaseList %}
							<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album={{ album.albumRelease }}/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://clayfain.bandcamp.com/album/sad-eyes"></a></iframe>
						{% endfor %}
					</section>
					{% endif %}
				
				</div>
			
				<div class="col-sm-6">
				
					{% if craft.tags.relatedTo(entry.id) | length %}
						<section>
							<h3>Tags</h3>
							<ul class="list-inline">
							    {% for tag in craft.tags.relatedTo(entry.id) %}
							        <li><a href="/tags/{{ tag.name }}" class="btn tag">{{ tag.name }}</a></li>
							    {% endfor %}
							</ul>
						</section>
					{% endif %}
					
					{% if entry.songNotes | length %}
					<section>
						<h3>Notes</h3>
						<p>{{ entry.songNotes }}</p>
					</section>
					{% endif %}
				
				</div>
			</div>
		</div> <!-- gray box -->
	</article>
{% endblock %}
