{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Songs" %}

{% block content %}

	<section id="songList">
		<h3>Songs</h3>

		{% for entry in craft.entries.section('songs').find() %}
			<article>
				<div class="row">
					<div class="col-sm-8">
						<h4><a href="{{ entry.url }}">{{ entry.title }}</a> <small>{{ entry.songDate | date('F Y') }}</small></h4>
					</div>
				</div>
			</article>
		{% endfor %}
	</section>
	
{% endblock %}
