

{% extends "_layout" %}

{% block content %}

{% if not currentUser %}
	{% redirect '/' %}
{% endif %}

<section id="songList">
	<h3>SONGS BY {{ entry.title }}</h3>
	
	{% for entry in craft.entries.section('songs').order('songDate').songDate() %}
		<article class="song">
			<h1>
				<a href="{{ entry.url }}">{{ entry.title }}</a>
				<small>
					{% if entry.coWriters | length %}
					<span class="writer-credit">(
						{% for writer in entry.coWriters %}
							{{ writer.writerLastName }} {% if not loop.last %}/{% endif %}
						{% endfor %}
					)</span>
					{% endif %}
					{{ entry.songDate | date('M Y') }}
				</small>
			</h1>
			<audio controls preload="none">
				{% if entry.mp3Download | length %}
				{% for asset in entry.mp3Download %}
					<source src="{{ asset.url }}" type="audio/mpeg">
				{% endfor %}
				{% endif %}
				{% if entry.songOgg | length %}
				{% for asset in entry.songOgg %}
					<source src="{{ asset.url }}" type="audio/ogg">
				{% endfor %}
				{% endif %}
					Your browser does not support the audio element.
			</audio>
		</article>
	{% endfor %}
</section>
	
{% endblock %}
