{#
 # Playlist entry template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}

	<h1 class="playlistHeader"><a href="/">Clay Fain</a></h1>

	<div class="row">
		<div class="col-sm-7">
			<section>
			{% if entry.playlistSongs | length %}
				{% for songs in entry.playlistSongs %}
					
					<article class="song">
						<h1>{{ songs.title }}
							<small>
								{% if songs.coWriters | length %}
								<span class="writer-credit">(
									{% for writer in songs.coWriters %}
										{% if writer.writerWebsite | length %}
											<a href="{{ writer.writerWebsite }}">{{ writer.writerLastName }}</a>
										{% else %}
											{{ writer.title }}
										{% endif %}
										{% if not loop.last %}/{% endif %}
									{% endfor %}
								)</span>
								{% endif %}
							</small>
						</h1>
					
						<audio controls>
							{% if songs.mp3Download | length %}
							{% for asset in songs.mp3Download %}
								<source src="{{ asset.url }}" type="audio/mpeg">
							{% endfor %}
							{% endif %}
							{% if songs.songOgg | length %}
							{% for asset in songs.songOgg %}
								<source src="{{ asset.url }}" type="audio/ogg">
							{% endfor %}
							{% endif %}
								Your browser does not support the audio element.
						</audio>
					
						{% if songs.lyrics | length %}
							<h5 class="lyricsLabel arrowDown">Lyrics</h5>
							<div class="lyrics">{{ songs.lyrics }}</div>
						{% endif %}
					</article>
					
				{% endfor %}
			{% endif %}
			</section>
		</div>
		<div class="col-sm-5">
			<div class="gray-box">
				<p>{{ entry.body }}</p>
			</div>
		</div>
	</div>
	
	<section id="mailingList">
		<h3>Join the Mailing List</h3>
		<form class="navbar-form" action="//theashesmusic.us1.list-manage.com/subscribe/post?u=9c3c548eb42ad7f01814a9692&amp;id=140e1c8070" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
			<div class="form-group">
 				<input type="email" value="" name="EMAIL" class="form-control">
			</div>
			<button type="submit" value="Subscribe" name="subscribe" class="btn">Submit</button>
		</form>
	</section>
	
{% endblock %}
