{#
 # Playlist entry template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}

	<h1 class="playlistHeader">Clay Fain</h1>

	<div class="row">
		<div class="col-sm-7">
			<section>
			{% if entry.playlistSongs | length %}
				{% for songs in entry.playlistSongs %}
					
					<article class="song">
						<h1>{{ songs.title }}
							<small>
								{% if entry.coWriters | length %}
								<span class="writer-credit">(
									{% for writer in entry.coWriters %}
										{{ writer.writerLastName }} {% if not loop.last %}/{% endif %}
									{% endfor %}
								)</span>
								{% endif %}
							</small>
						</h1>
					
						<audio controls>
							{% if songs.mp3Download | length %}
							{% for asset in songs.mp3Download %}
								<source src="{{ asset.url }}" type="audio/mpeg">
							{% endfor %}
							{% endif %}
							{% if songs.songOgg | length %}
							{% for asset in songs.songOgg %}
								<source src="{{ asset.url }}" type="audio/ogg">
							{% endfor %}
							{% endif %}
								Your browser does not support the audio element.
						</audio>
					
						{% if songs.lyrics | length %}
							<h5 class="lyricsLabel arrowDown">Lyrics</h5>
							<div class="lyrics">{{ songs.lyrics }}</div>
						{% endif %}
					</article>
					
				{% endfor %}
			{% endif %}
			</section>
		</div>
		<div class="col-sm-5">
			<div class="gray-box">
				<p>{{ entry.body }}</p>
			</div>
		</div>
	</div>

	
	<script>
		$('.lyricsLabel').click( function() {
			$('.lyrics').toggleClass('open');
		});
	</script>
	
{% endblock %}
