{#
 # Playlist entry template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}

	<article>
		<h2>Clay Fain</h2>
		
		<div class="row">
			<div class="col-sm-8">
				{% if entry.playlistSongs | length %}
					{% for songs in entry.playlistSongs %}
					
						<h3>{{ songs.title }}</h3>
						
						{% if songs.coWriters | length %}
						<h3>Co-Writers: <small>{{ songs.coWriters }}</small></h3>
						{% endif %}
						
						<audio controls>
							{% if entry.mp3Download | length %}
							{% for asset in entry.mp3Download %}
								<source src="{{ asset.url }}" type="audio/mpeg">
							{% endfor %}
							{% endif %}
							{% if entry.songOgg | length %}
							{% for asset in entry.songOgg %}
								<source src="{{ asset.url }}" type="audio/ogg">
							{% endfor %}
							{% endif %}
								Your browser does not support the audio element.
						</audio>
						
						{% if songs.lyrics | length %}
							<h4 class="lyricsLabel arrowDown">Lyrics</h4>
							<div class="lyrics">{{ songs.lyrics }}</div>
						{% endif %}
						
					{% endfor %}
				{% endif %}
				
			</div>
			<div class="col-sm-4">
				<p>{{ entry.body }}</p>
			</div>
		</div>
	</article>
	
	<script>
		$('.lyricsLabel').click( function() {
			$('.lyrics').toggleClass('open');
		});
	</script>
	
{% endblock %}
