{% extends "_layout" %}
{% block content %}

	{% set tag = craft.tags.name(tag).first() %}

	{% if not tag %}
	    {% exit 404 %}
	{% endif %}


	<h3>Songs tagged “{{ tag.name }}”</h3>
	
	{% for entry in craft.entries.section('songs').relatedTo(tag).order('title') %}

		{% if entry | length %}
			<article class="taggedList">
				<h1>
					<a href="{{ entry.url }}">{{ entry.title }}</a>
					<small>
						{% if entry.coWriters | length %}
						<span class="writer-credit">(
							{% for writer in entry.coWriters %}
								{{ writer.writerLastName }} {% if not loop.last %}/{% endif %}
							{% endfor %}
						)</span>
						{% endif %}
						{{ entry.songDate | date('M Y') }}
					</small>
				</h1>
			</article>
		{% else %}
		
		    <p>No entries could be found with that tag.</p>
		
		{% endif %}
		
		<div class="gray-box">
	
			<section id="tags">
				<h3>Tags</h3>
				{% set entries = craft.entries.section('songs').limit(null) %}
				<ul class="list-inline">
				    {% for tag in craft.tags.relatedTo(entries) %}
				        <li><a href="/tags/{{ tag.name }}" class="btn tag">{{ tag.name }}</a></li>
				    {% endfor %}
				</ul>
			</section>
			
		</div>
		
	{% endfor %}

{% endblock %}