{% extends "_layout" %}
{% block content %}

	{% set tag = craft.tags.name(tag).first() %}

	{% if not tag %}
	    {% exit 404 %}
	{% endif %}

	{% for entry in craft.entries.section('songs').find() %}
		<h2>Songs tagged “{{ tag.name }}”</h2>

		{% set entries = craft.entries.relatedTo(tag).order('title') %}

		{% if entries | length %}
	        {% for entry in entries %}
	            <h4><a href="{{ entry.url }}">{{ entry.title }}</a> <small>{{ entry.songDate | date('F Y') }}</small></h4>
	        {% endfor %}
		{% else %}
		    <p>No entries could be found with that tag.</p>
		{% endif %}
	{% endfor %}

{% endblock %}