@import "bootstrap.less";

/* ----------------------------------------------------------------------------- */
// BASIC RESET



/* ----------------------------------------------------------------------------- */
// MISCELLANEOUS

.writer-credit {
	word-spacing: -.2em;
}

.soundcloudplayer {
	.g-background-default {
		background-color: #fff !important;
	}
	.sc-media-right { 
		display: none !important; 
	}
}

.arrowDown:after {
	content:"";
	position: relative;
	right: -10px;
	top: 14px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
}

/* ----------------------------------------------------------------------------- */
// SONGS 



/* ----------------------------------------------------------------------------- */
// DASHBOARD

section {
	width: 100%;
	clear: both;
}


/* ----------------------------------------------------------------------------- */
// PLAYLISTS

.lyricsLabel {
	cursor: pointer;
}

.lyrics {
	height: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease-in;
	&.open {
		height: auto;
		max-height: 1000px;
		transition: max-height .3s ease-in;
	}
}


/* ----------------------------------------------------------------------------- */
// HOME



/* ----------------------------------------------------------------------------- */
// SEARCH and TAGS



/* ----------------------------------------------------------------------------- */
// FOOTER



/* ----------------------------------------------------------------------------- */
// RESPONSIVE
