@import "bootstrap.less";
@import "fain-font.less";

/* ----------------------------------------------------------------------------- */
// BASIC RESET

body {
	background: @graylight;
	color: @darkblue;
	.freightTextBook();
}

a {
	color: @yellow;
}

p {
	.freightTextBook();
	font-size: 1.2em;
	a {
		color: @darkblue;
		text-decoration: underline;
		&:hover {
			color: @yellow;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	.alternateGothic();
	color: @yellow;
	a {
		color: @darkblue;
		&:hover {
			text-decoration: none;
			color: @yellow;
		}
	}
}

h1 {
	font-size: 2.5em;
	color: @darkblue;
	small {
		font-size: 60%;
		margin-left: .5em;
	}
	@media (max-width: @screen-md) {
		font-size: 2em;
	}
}

h3 {
	font-size: 1.6em;
}

h4 {
	.freightTextBold();
	text-transform: none;
	font-size: 1.5em;
	small {
		.alternateGothic();
	}
}

h5 {
	color: @graydark;
	.alternateGothic();
	margin-top: 0;
}

section {
	margin-bottom: 3em;
}

article {
	position: relative;
}


/* ----------------------------------------------------------------------------- */
// MISCELLANEOUS

.writer-credit {
	word-spacing: -.2em;
}

.arrowDown:after {
	content:"";
	position: relative;
	right: -7px;
	top: 9px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid @graydark;
}
.arrowDown:hover {
	color: @darkblue;
	&:after {
		border-top-color: @darkblue;
	}
}

.gray-box {
	background: @gray;
	padding: 1em 2em;
	@media (max-width: @screen-sm) {
		padding: .5em 1em;
	}
}

.btn {
	background-color: @yellow;
	color: @white;
	.alternateGothic();
	font-size: 1.5em;
	padding: .25em .25em .1em;
	&:hover {
		background-color: darken(@yellow, 10%);
		color: @white;
	}
}

.tag {
	color: @darkblue;
	background: @graydark;
	.alternateGothic();
	font-size: 1.5em;
	margin-bottom: 1em;
	border-radius: .25em;
	padding: .25em .5em 0;
	&:hover {
		background: darken(@graydark, 10%);
		color: @darkblue;
	}
}

#social-links {
	a {
		font-family: "clay-fain";
		cursor: pointer;
		margin-left: .5em;
		font-size: 1.25em;
	}
}

.list-inline {
	margin: 0;
}


/* -------------------------------------------------------------------------------- */
// INPUT FIELDS

.navbar-form {
	width: 100%;
	.form-group {
		width: 80%;
		float: left;
		margin-bottom: 0;
		.form-control {
			width: 100%;
			border: none;
			height: 2.7em;
			color: @darkblue;
		}
	}
	button {
		float: right;
		width: 20%;
		border: none;
	}
	@media (max-width: @screen-md) {
		.form-group {
			width: 75%;
		}
		button {
			width: 25%;
		}
	}
}

/* -------------------------------------------------------------------------------- */
// HTML5 AUDIO PLAYER

.mejs-controls .mejs-play button {
	background-position: -40px 0;

}

/* -------------------------------------------------------------------------------- */
// HEADER

nav {
	background-color: @darkblue;
	margin-bottom: 5em;
	.alternateGothic();
	overflow: hidden;
	ul {
		padding: .5em;
		margin: 0;
		li {
			font-size: 1.5em;
			a {
				color: @white;
				&:hover {
					color: @yellow;
					text-decoration: none;
				}
			}
		}
		&.logged-out {
			text-transform: none;
			color: @white;
		}
		&.main-nav,
		&.logged-out {
			float: left;
			padding-left: .5em;
		}
		&#social-links {
			float: right;
			padding-bottom: 0;
		}
	}
	@media (max-width: @screen-sm) {
		margin-bottom: 2em;
	}
}


/* ----------------------------------------------------------------------------- */
// DASHBOARD

section {
	width: 100%;
	clear: both;
}

#search {
	overflow: hidden;
	margin-bottom: 0;
	.navbar-form {
		margin: 0;
		padding: 0;
	}
}

/* ----------------------------------------------------------------------------- */
// SONGS 

.song-entry {
	h1 {
		font-size: 3.5em;
		margin: 0;
		color: @darkblue;
		margin-left: 1em;
		@media (max-width: @screen-md) {
			font-size: 2.75em;
		}
		@media (max-width: @screen-sm) {
			font-size: 2.25em;
			small {
				display: none;
			}
		}
	}
	.mp3download {
		float: right;
		color: @darkblue;
		@media (max-width: @screen-sm) {
			display: none;
		}
	}
	@media (max-width: @screen-md) and (min-width: @screen-sm) {
		.mejs-controls div.mejs-time-rail {
			width: auto !important
		}
	}
	@media (max-width: @screen-md) {										/* NEEDS FIDDLING */
		.mejs-controls .mejs-play button, {
			top: -49px;
			width: 30px;
			height: 30px;
		}
		.mejs-controls .mejs-pause button {
			background-position: 0 -32px;
			top: -45px;
			width: 30px;
			height: 30px;
		}
	}
	@media (max-width: @screen-sm) {										/* NEEDS FIDDLING */
		.mejs-controls .mejs-play button, {
			top: -45px;
		}
		.mejs-controls .mejs-pause button {
			background-position: 0 -36px;
			top: -45px;
		}
	}
}

.song {
	h1 {
		margin-left: 1em;
		@media (max-width: @screen-sm) {
			small {
				display: none;
			}
		}
	}
	.mejs-container {
		position: absolute;
	}
	.mejs-controls div.mejs-time-rail {
		display: none;
	}
	.mejs-controls .mejs-play button, {
		top: -59px;
		background-size: 850%;
	}
	.mejs-controls .mejs-pause button {
		top: -52px;
		background-size: 850%;
	}
	@media (max-width: @screen-md) {
		.mejs-controls .mejs-play button, {
			top: -50px;
			width: 30px;
			height: 30px;
		}
		.mejs-controls .mejs-pause button {
			background-position: 0 -25px;
			width: 30px;
			height: 30px;
		}
	}
	@media (max-width: @screen-sm) {
		.mejs-container {
			width: 95% !important;
		}
	}

	@media (max-width: @screen-md) {
		.mejs-controls div.mejs-time-rail {
			width: auto !important
		}
	}
	@media (max-width: @screen-sm) {
		.mejs-controls .mejs-play button {
			top: -50px;
			height: 30px;
			width: 30px;
		}
		.mejs-controls .mejs-pause button {
			background-position: 0 -32px;
			top: -45px;
			height: 30px;
			width: 30px;
		}
	}	
}


/* ----------------------------------------------------------------------------- */
// PLAYLISTS

.lyricsLabel {
	cursor: pointer;
	margin-top: 3em;
}

.lyrics {
	height: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease-in;
	&.open {
		height: auto;
		max-height: 1000px;
		transition: max-height .3s ease-in;
	}
}

.playlistHeader {
	text-align: center;
	font-size: 5.5em;
	letter-spacing: .1em;
	margin: 0 0 .65em;
}

#playlists {
	.song {
		margin-bottom: 3em;
	}
	.mejs-controls div.mejs-time-rail {
		display: block;
	}
	section {
		margin-bottom: 6em;
	}
}

/* ----------------------------------------------------------------------------- */
// HOME



/* ----------------------------------------------------------------------------- */
// SEARCH and TAGS

.taggedList {
	margin-bottom: 5em;
}

.tagName,
.searchName {
	color: @darkblue;
	font-size: 1em;
}

/* ----------------------------------------------------------------------------- */
// FOOTER

#footer {
	text-align: center;
	margin: 5em 0 2.5em;
}

/* ----------------------------------------------------------------------------- */
// RESPONSIVE
