{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" type="text/css" href="/public/css/fain.css" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	<script type="text/javascript" src="//use.typekit.net/qon5fgi.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body id="{{ craft.request.firstSegment }}{% if craft.request.firstSegment == '' %}home{% endif %}">
	<nav>
	{% if currentUser %}
		<ul class="list-inline main-nav">
			<li><a href="{{ siteUrl }}">Home</a></li>
			<li><a href="{{ url('dashboard') }}" {% if craft.request.firstSegment == 'dashboard' %}class="active"{% endif %}>Dashboard</a></li>
			<li><a href="{{ siteUrl }}admin">Admin</a></li>
		</ul>
	{% else %}
		<ul class="list-inline logged-out">
			<li><a href="/">{{ homepage.homepage_intro }}</a></li>
		</ul>
	{% endif %}
		<ul id="social-links" class="list-inline">
			<li>
				<a href="{{ social.twitter }}" class="icon icon-social-twitter"></a>
				<a href="{{ social.instagram }}" class="icon icon-social-instagram"></a>
				<a href="mailto:{{ social.email }}" class="icon icon-mail"></a>
	        </li>
		</ul>
	</nav>
	
	{% if craft.request.firstSegment == '' or 'newhome' %}
	{% else %}
	<div class="container">
	{% endif %}

		<main id="content" role="main">
			{% block content %}
				
			{% endblock %}
		</main>
	
	{% if craft.request.firstSegment == '' %}
	{% else %}
	</div>
	{% endif %}
	
	<footer id="footer">
		Copyright Clay Fain {{ now.year }}. All rights reserved 
	</footer>
	
	<script src="/public/js/mediaelement-and-player.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/mediaelementplayer.css" />
	<script>
		$('video,audio').mediaelementplayer(/* Options */);
	</script>
	
	<script>
		$('.lyricsLabel').click( function() {
			$(this).next('.lyrics').toggleClass('open');
		});
	</script>
	
</body>
</html>
