{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}



{% block content %}

	{% if not currentUser %}
		{% redirect '/' %}
	{% endif %}

	<div class="row">
		<div class="col-sm-6">

			<section id="songList">
				<h3>Songs</h3>
				
				{% for entry in craft.entries.section('songs').order('songDate').songDate() %}
					<article>
						<div class="row">
							<div class="col-sm-8">
								<h4><a href="{{ entry.url }}">{{ entry.title }}</a> <small>(Fain/Somebody) {{ entry.songDate | date('F Y') }}</small></h4>
							</div>
						</div>
					</article>
				{% endfor %}
			</section>
		
		</div>
		<div class="col-sm-6">
		
			<section id="search">
				<form class="navbar-form navbar-left" role="search" action="{{ url('search') }}">
					<div class="form-group">
		 				<input type="search" name="search" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default" value="go">Search</button>
				</form>
			</section>
		
			<section id="tags">
				<h3>Tags</h3>
				{% set entries = craft.entries.section('songs').limit(null) %}
				<ul class="list-inline">
				    {% for tag in craft.tags.relatedTo(entries) %}
				        <li><a href="/tags/{{ tag.name }}" class="btn">{{ tag.name }}</a></li>
				    {% endfor %}
				</ul>
			</section>
		
			<section id="playlists">
				<h3>Playlists</h3>
				{% set allEntries = craft.entries.section('playlists').limit(null) %}
				{% for date, entries in allEntries | group("postDate|date('Y')") %}
					<h5>{{ date }}</h5>
					{% for entry in entries %}
					<article>
						<div class="row">
							<div class="col-sm-8">
								<h4><a href="{{ entry.url }}">{{ entry.title }}</a> <small>{{ entry.postDate.format('F d, Y') }}</small></h4>
							</div>
						</div>
					</article>
					{% endfor %}
				{% endfor %}
			</section>
		
		</div>
	</div>

	
{% endblock %}

