{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}



{% block content %}
	
	<h1 class="playlistHeader"><a href="/">Clay Fain</a></h1>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<section id="songList">
				<h3>Songs</h3>
				
				{% for entry in craft.entries.section('songs').order('songDate').songDate() %}
					<article class="song">
						<h1>
							<a href="{{ entry.url }}">{{ entry.title }}</a>
							<small>
								{% if entry.coWriters | length %}
								<span class="writer-credit">(
									{% for writer in entry.coWriters %}
										{{ writer.writerLastName }} {% if not loop.last %}/{% endif %}
									{% endfor %}
								)</span>
								{% endif %}
								{{ entry.songDate | date('M Y') }}
							</small>
						</h1>
						<audio controls preload="none">
							{% if entry.mp3Download | length %}
							{% for asset in entry.mp3Download %}
								<source src="{{ asset.url }}" type="audio/mpeg">
							{% endfor %}
							{% endif %}
							{% if entry.songOgg | length %}
							{% for asset in entry.songOgg %}
								<source src="{{ asset.url }}" type="audio/ogg">
							{% endfor %}
							{% endif %}
								Your browser does not support the audio element.
						</audio>
					</article>
				{% endfor %}
			</section>
		
		</div>
		
	</div>

	
{% endblock %}

